html{
    font-family: 'Poppins', 'Times New Roman', Times, serif;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    padding: 0px;
}

@import 'abstract/variables.scss';
@import 'pages/home.scss';
@import 'pages/locatifs.scss';
@import 'pages/locatifDetail.scss';
@import 'pages/reservation.scss';
@import 'pages/contact.scss';
@import 'pages/reglementInterieur.scss';
@import 'pages/media.scss';
@import 'pages/error404.scss';
@import 'components/header.scss';
@import 'components/navbar.scss';
@import 'components/map.scss';
@import 'components/footer.scss';