.map-container{
    position: relative;

    img{
        width: 100%;
        height: auto;
        max-height: 80vh;
        
    }

    .ping{
        position: absolute;
        transform: translate(-50%, -100%) scale(0.7);
        margin: 0px;
        width: 1rem;
        padding-block: auto;
        text-align: center;
    }
    .hidden{
        opacity: 0;
    }
}

@media screen and ( min-width: 860px){
    .map-container{
        display: flex;
        .ping{
            transform: translate(-50%, -100%) scale(1);
        }
    }
}