

nav{
    display: flex;
    position: relative;
    top: -1.25rem;
    left: 75px;
    box-shadow: 3px 5px 20px 0px rgba(0,0,0,0.50);
    justify-content: space-between;
    background-color: white;
    width: 70%;
    height: 2.5rem;
    border-radius: 0.5rem;
    margin-block: none;
    margin-inline: auto;
    font-weight: 500;
}

nav .hamburger{
    display: none;
}

nav .logo{
    position: absolute;
    bottom: -19px;
    left: -150px;
    height: auto;
    width: 300px;
}

nav .lang{
    border-radius: 0.5rem;
    border: 3px solid white;
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin-left: 150px;
    margin-block: auto;
    width: 100%;
    padding-inline: 0.5rem;
    font-size: 0.9rem;
}

nav a{
    color: $mainLight;
    text-align: center;
    line-height: 0.8rem;
    text-decoration: none;
    transition: all 200ms;
}

nav a:hover{
    cursor: pointer;
    color: $mainBold;
}

nav ul li{
    display: flex;
    align-items: center;
    padding-inline: 0.3rem;
    transition: all 150ms;
}

nav ul li:hover{
    transform: scale(1.02);
}

@media screen and ( max-width: 1024px){

    nav{
        width: fit-content;
        ul{
            display: none;
        }
        .hamburger{
            margin-left: 180px;
            margin-right: 20px;
            display: block;
        }
    }

}