.container{
    position: relative;
    top: -2rem;
    display: flex;
    justify-content: center;
    padding-block: 1rem;
    width: 100%;
    z-index: 10;
}

.anim{
    animation-name: sliding;
    animation-duration: 250ms;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@keyframes sliding {
    0%{
        transform: translateY(-200%);
    }
    80%{
        transform: translateY(10%);
    }
    100%{
        transform: translateY(0%);
    }
}

nav{
    display: flex;
    position: relative;
    transform: translateX(50px);
    box-shadow: 3px 5px 20px 0px rgba(0,0,0,0.50);
    justify-content: space-between;
    background-color: white;
    height: 2rem;
    border-radius: 0.5rem;
    margin-block: none;
    margin-inline: auto;
    font-weight: 500;

    .logo{
        position: absolute;
        bottom: -12px;
        left: -100px;
        height: auto;
        width: 200px;
    }
    .logo-accueil{
        margin: 0px;
        padding: 0px;
    }

    .hamburger{
        margin-left: 110px;
        margin-right: 10px;
        display: block;
        padding-block: 2px;
        transition: all 150ms;
        
        &:active{
            transform: scale(0.9);
        }
    }

    ul{
        display: none;
    }

    .lang{
        border-radius: 0.5rem;
        border: 3px solid white;
        transition: all 200ms;

        &:hover{
            cursor: pointer;
        }

        &:active{
            transform: scale(0.9);
        }
    }

    .choiceLang{
        position: absolute;
        background-color: white;
        box-shadow: 3px 10px 20px 0px rgba(0,0,0,0.50);
        border-radius: 0.5rem;
        display: none;
        flex-direction: column;
        right: 0px;
        top: 2.1rem;
        img{
            box-sizing: border-box;
            height: 2rem;
            margin-inline: 0px;
            margin-block: 0.1rem;
            border-radius: 0.5rem;
            border: 3px solid white;
            transition: all 200ms;

            &:hover{
                cursor: pointer;
            }

            &:active{
                transform: scale(0.9);
            }
        }
    }
}

.disabled{
    display: none;
}

@keyframes opacity {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes slideIn {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}

.back{
    position: fixed;
    display: flex;
    flex-direction: row;
    z-index: 11;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    animation-name: opacity;
    animation-duration: 200ms;
    animation-delay: 200ms;
    animation-fill-mode: backwards;
    

    .pop-up{
        background-color: white;
        height: 100vh;
        width: 40%;
        min-width: 250px;
        display: flex;
        flex-direction: column;
        padding-inline: 0.5rem;
        animation-name: slideIn;
        animation-duration: 200ms;
        animation-delay: 200ms;
        animation-fill-mode: backwards;
        animation-timing-function: ease;

        .headNav{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: auto;
            width: 100%;
            padding-block: 1rem;
            border-bottom: 1px solid $mainBold;
            .logo-accueil{
                margin: 0px;
                padding: 0px;
                width: 200px;
                .logo{
                    width: 200px;
                }
            }

            

            img:last-of-type{
                width: 30px;
                transition: all 200ms;
                &:active{
                    transform: scale(0.9);
                }
            }
        }

        ul{
            list-style: none;
            padding: 0px;
            margin: 0px;

            li{
                padding-block: 1rem;
                border-bottom: 1px solid $mainBold;
                text-indent: 0.5rem;

                a{
                    display: block;
                    color: $mainLight;
                    text-decoration: none;
                    text-transform: uppercase;
                    font-weight: 500;
                    width: 100%;
                    transition: all 200ms;
                    &:active{
                        text-indent: 1rem;
                    }
                }
            }
        }
        
    }

    
}

@media screen and ( min-width: 860px){

    .container{
        top: -3.25rem;
        padding-block: 2rem;
    }

    nav{
        transform: translate(75px);
        width: 80%;
        height: 2.5rem;

        .logo{
            bottom: -19px;
            left: -150px;
            width: 300px;
        }

        ul{
            display: flex;
            justify-content: space-around;
            list-style: none;
            margin-left: 150px;
            margin-block: auto;
            width: 100%;
            padding-inline: 0.5rem;
            font-size: 0.9rem;

            li{
                display: flex;
                align-items: center;
                padding-inline: 0.3rem;
                transition: all 150ms;

            }
        }

        a{
            color: $mainLight;
            text-align: center;
            line-height: 0.8rem;
            text-decoration: none;
            transition: all 200ms;

            &:hover{
                cursor: pointer;
                color: $secondaryBold;
            }
        }

        
        
        .hamburger{
            display: none;
        }

        .choiceLang{
            top: 2.6rem;

            img{
                height: 2.5rem; 
            }
        }
    }

}

@media screen and ( min-width: 1024px){

    nav{
        width: 70%;
    }

}