{% extends 'base.html.twig' %}

{% block title %}
    Photo & video - Plage du midi
{% endblock %}

{% block header %}
    {{ component('Header', {'title' : page }) }}
{% endblock %}
{% block body %}
    <main id="media" class="main-media">

    </main>
{% endblock %}
{% block footer %}
    {{ component('Footer') }}
{% endblock %}