{% apply inline_css(source('@email/email.css')) %}

    <table>
        <tr>
            <td id="banner" colspan="2"><img src="{{ email.image('@images/slide_camping.jpg') }}" alt="banniere"></td>
        </tr>
        <tr>
            <td id="h1" colspan="2"><h1>Bonjour Arthur Pin !</h1></td>
        </tr> 
        <tr>
            <td id="intro" colspan="2">
                <p>Merci de vous intéresser au <span>Camping plage du midi</span>. Votre demande sera traitée dans les meilleurs délais et nous reveindrons vers vous au plus vite. En attendant, voici un récapitulatif des informations que vous avez saisi: </p>
            </td>
        </tr>
        <tr><!--Peut-être ajouter les dates souhaitées au debut dans l'intitulé 'votre séjour', mettre tout le style dans les balises directement pour la compatibilité-->
            <td id="h2" colspan="2">
                <h2>Vos informations:</h2>
            </td>
        </tr>
        <tr>
            <td class="libelle">
                <p>Adresse:</p>
            </td>
            <td class="info">
                <p>7 rue Jean Genet, 58230, Alligny en morvan</p>
            </td>
        </tr>
        <tr>
            <td class="libelle">
                <p>Téléphone:</p>
            </td>
            <td class="info">
                <p>0783206995</p>
            </td>
        </tr>
    </table>
    
{% endapply %}