<header>
    <div class="banner">

        {{ title is defined ? "<h1 class='mobile'>#{title}</h1>"|raw : '' }}

    </div>
    
        {% block navbar %}
            {{ component('Navbar') }}
        {% endblock %}

        {{ title is defined ? "<h1 class='desk'>#{title}</h1>"|raw : '' }}
</header>