{% extends 'base.html.twig' %}

{% block title %}Administration | Camping plage du midi{% endblock %}

{% block header %}
    {{ component('AdminHeader') }}
{% endblock %}
{% block body %}
    <main id="main-admin" class="main-admin">

    </main>
{% endblock %}
{% block footer %}
    {{ component('Footer') }}
{% endblock %}
