.main-locatifs{
    padding-top: 3rem;
    .hidden{
        display: none;
    }
}

.barre-tri{
    display: flex;
    justify-content: space-between;
    border-block: 2px solid $mainBold;
    .select-categories{
        background-color: $mainBold;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        padding-block: 0.8rem;
        padding-inline: 1.5rem;
        color: white;
        text-transform: capitalize;
        font-weight: 600;
        p{
            margin: 0px 0.3rem 0px 0px;
        }
        .rotate{
            margin: 0rem;
            transform: rotate(90deg);
            transition: all 200ms;
        }
        .ul-select{
            position: absolute;
            top: 3rem;
            left: 0px;
            right: 0px;
            background-color: white;
            color: $mainLight;
            font-weight: 600;
            padding-left: 0px;
            margin: 2px 0px 0px 0px;
            z-index: 2;
            li{
                list-style: none;
                border-inline: 1px solid $mainBold;
                border-bottom: 1px solid $mainBold;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-block: 0.5rem;
                label{
                    margin-left: 1rem;
                }
                input{
                    margin-right: 1rem;
                }
            }
            li:last-of-type{
                justify-content: center;
            }
            button{
                color: white;
                font-weight: 600;
                background-color: $mainBold;
                padding: 0.5rem 0.8rem;
                margin-block: 0.3rem;
                border: 1px solid $mainBold;
                transition: all 200ms;
                &:hover{
                    background-color: white;
                    color: $mainBold;
                }
            }
        }

    }


    .container-tri{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 1rem;
        color: $mainBold;
        img{
            height: 30px;
            margin-right: 0.3rem;
        }
        .select-tri{
            padding-block: 0.8rem;
            max-width: 4rem;
            font-weight: 600;
            border: 0px;
            text-transform: uppercase;
            color: $mainBold;
            option{
                overflow: hidden;
            }
        }
        label{
            display: none;
        }
    }
}

.liste-article{
    width: 100%;
    padding-block: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    article{
        width: 300px;
        margin-block: 2rem;
        margin-inline: 0.2rem;
        box-shadow: 3px 5px 15px 0px rgba(0,0,0,0.30);
        figure{
            width: 100%;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px;
            position: relative;
            img{
                width: 100%;
                overflow: hidden;
            }
            figcaption{
                position: absolute;
                width: 100%;
                bottom: 0px;
                left: 0px;
                transform: translateY(50%);
                text-align: center;
                text-transform: uppercase;
                background-color: $mainBold;
                color: white;
                font-weight: 600;
                padding-block: 0.8rem;

            }
        }
        .infos{
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .libelle-emplacement, .libelle-capacite{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-inline: 0.5rem;
                h5{
                    color: $mainBold;
                    font-weight: 600;
                    margin-block: 0.5rem;
                }
                img{
                    width: 30px;
                    height: 30px;
                }
            }
            .contenu-emplacement{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                flex-wrap: wrap;
                min-height: 5rem;
                .pastille{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0.2rem;
                    width: 30px;
                    height: 30px;
                    border-radius: 15px;
                    background-color: $mainBold;
                    color: white;
                    p{
                        text-align: center;
                    }
                }
                .non-spe{
                    margin-left: 0.5rem;
                    color: $mainBold;
                    font-weight: 500;
                }
            }
            .contenu-capacite{
                p{
                    text-align: center;
                }
            }
            a{
                margin: 1.5rem auto;
                padding: 0.5rem 1rem;
                text-decoration: none;
                background-color: $mainBold;
                color: white;
                font-weight: 600;
                border: 1px solid $mainBold;
                transition: all 200ms;
                &:hover{
                    background-color: white;
                    color: $mainBold;
                }
            }
        }
        
    }
}

@keyframes opacity {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.background-map{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 11;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    animation-name: opacity;
    animation-duration: 200ms;
    animation-fill-mode: backwards;
    .close{
        width: 30px;
        position: absolute;
        top: 15px;
        right: 15px;
        filter: drop-shadow(0px 0px 15px rgb(255, 255, 255));
    }
}

@media screen and ( min-width: 860px){
    .barre-tri{
        .select-categories{
            padding-inline: 2.5rem;
        }
        .container-tri{
            label{
                display:initial;
                font-weight: 600;
            }
            .select-tri{
                max-width: none;
            }
        }
    }

    .liste-article{
        article{
            margin-inline: 1rem;
        }
    }
    
}