.main-reservation{

    section{

        background: linear-gradient(170deg, rgba(255,255,255,1) 0%, rgba(254,250,224,1) 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 3rem;
        margin-bottom: -3rem;
        padding-block: 3rem;

        form{
            background-color: white;
            box-shadow: 3px 5px 20px 0px rgba(0,0,0,0.40);
            width: 90%;
            max-width: 350px;
            padding: 0.5rem;

            ul{
                color: rgb(174, 73, 73);
                font-size: 0.7rem;
                font-weight: 500;
                padding: 0px;
                margin-block: 0.1rem;
                list-style: none;
            }

            input::placeholder{
                color: rgb(162, 162, 162);
                font-style: italic;
                font-weight: 500;
            }

            .begin-form{

                border-bottom: 1px solid rgb(177, 177, 177);
                padding-bottom: 2rem;
                margin-bottom: 2rem;

                .row{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    label{
                        color: $secondaryBold;
                        text-transform: uppercase;
                        font-weight: 500;
                        margin-block: 0.5rem;
                    }

                    input{
                        border-top: 0px;
                        border-inline: 0px;
                        border-bottom: 1px solid black;
                        padding-left: 0.5rem;
                        padding-block: 0.3rem;
                        width: 90%;
                        align-self: center;
                        margin-bottom: 1rem;
                    }
                }

                .choice-quantity{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;

                    .row{
                        width: 45%;
                    }
                }

                .container-card-voyageurs{
                    padding-inline: 0.5rem;
                    padding-block: 0.5rem;

                    div{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        .row{
                            box-shadow: 3px 5px 20px 0px rgba(0,0,0,0.40);
                            padding-inline: 1rem;
                            padding-block: 0.5rem;
                            margin-block: 0.5rem;
                            border-radius: 0.5rem;
    
                            label{
                                margin-top: 0px;
                                margin-left: 0.5rem;
                            }
    
                            select{
                                margin-right: 2rem;
                                padding: 0.2rem 0.3rem;
                            }
                        }

                    }
                    
                }

            }

            .end-form{

                .title-container{
                    color: $secondaryBold;
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: 1.1rem;
                    margin-block: 0.5rem;
                }

                .endrow{
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    label{
                        color: $secondaryBold;
                        text-transform: uppercase;
                        font-weight: 500;
                        margin-block: 0.5rem;
                    }

                    input{
                        border-top: 0px;
                        border-inline: 0px;
                        border-bottom: 1px solid black;
                        padding-left: 0.5rem;
                        padding-block: 0.3rem;
                        width: 90%;
                        align-self: center;
                        margin-bottom: 1rem;
                    }
                }

                .container-checkBox{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    align-items: center;
                    background-color: rgb(247, 247, 247);

                    .row{
                        padding-inline: 0.5rem;
                        padding-block: 0.5rem;
                    }
                }

                .disabled{
                    filter: grayscale(100) opacity(50%);
                }

                .facultatif-container{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    align-items: center;
                    background-color: rgb(230, 245, 228);

                    p{
                        width: 90%;
                        font-size: 1rem;
                        color: rgb(0, 63, 0);
                        border-bottom: 1px solid rgb(0, 63, 0);
                        font-weight: 600;
                        padding-block: 0.5rem;
                        margin-bottom: 0px;
                    }

                    .row{
                        padding-inline: 0.5rem;
                        padding-block: 0.5rem;
                    }

                }

                .choice-date{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;

                    .endrow{
                        width: 45%;
                    }
                }

                .nbrvehicules{
                    width: 60%;
                }

                .commentaire{

                    textarea{
                        width: 95%;
                        height: 10rem;
                        border: none;
                        background-color: rgb(241, 241, 241);
                        margin-inline: auto;
                        resize: none;
                    }
                }

                .container-button{
                    .button{
                        margin: 1rem auto;
                        padding: 0.3rem 0.3rem;
                        border: 1px solid $secondaryBold;
                        background-color: $secondaryBold;
                        font-weight: 600;
                        text-transform: uppercase;
                        letter-spacing: 0.05rem;
                        color: white;
                        transition: all 200ms;

                        &:hover{
                            background-color: white;
                            color: $secondaryBold;
                        }
                    }
                }
            }

        }

    }
}

@media screen and ( min-width: 860px){
    .main-reservation{
        section{
            form{
                display: flex;
                justify-content: center;
                max-width: 900px;

                .begin-form{
                    width: 45%;
                    border-bottom: none;
                    padding-bottom: 0px;
                    margin-bottom: 0px;
                    border-right: 1px solid rgb(177, 177, 177);
                    padding-right: 1rem;
                    margin-right: 1rem;

                    .container-name{
                        display: flex;
                        justify-content: space-around;
                        .row{
                            width: 45%;
                        }

                    }

                    .container-card-voyageurs{
                        padding-block: 1rem;
                        max-height: 300px;
                        overflow-y: scroll;
                        scrollbar-width: none;
                    }
                }

                .end-form{
                    width: 45%;
                }
            }
        }
    }
}